<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" type="text/css" href="/TIWProject_Jaskaran_Salonico/css/main.css" th:href="@{/css/main.css}">
<link rel="stylesheet" type="text/css" href="/TIWProject_Jaskaran_Salonico/css/index.css" th:href="@{/css/index.css}">
</head>
<body>
	<div class="col lft-col"></div>
	<div class="col mid-col form lgn-form">
		<h2>Accedi</h2>
		<form action="CheckLogin" method="post">
			<div>
				<label for="username">Nome Utente:</label> <input type="text"
					id="username" name="username" required>
			</div>
			<div>
				<label for="password">Password:</label> <input type="password"
					id="password" name="password" required>
			</div>
			<div th:if="${errorMsg}" class="error-message">
				<span th:text="${errorMsg}"></span>
			</div>
			<div>
				<input type="radio" name="version" value="html" required> <label>Html</label>
				<input type="radio" name="version" value="js" required> <label>Javascript</label>
			</div>
			<button type="submit">Accedi</button>
		</form>
	</div>
	<div class="col rgt-col"></div>
</body>
</html>
