<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/css/main.css}">
<link rel="stylesheet" type="text/css" href="css/index.css" th:href="@{/css/index.css}">
</head>
<body>
	<div class="col mid-col form lgn-form">
		<h2>Login</h2>
		<form action="CheckLogin" method="post">
			<div>
				<label for="username">Username:</label> <input type="text"
					id="username" name="username" min="3" max="20" required>
			</div>
			<div>
				<label for="password">Password:</label> <input type="password"
					id="password" name="password" min="3" max="20" required>
			</div>
			<div th:if="${errorMsg}" class="error-message">
				<span th:text="${errorMsg}"></span>
			</div>
			<button type="submit">Login</button>
		</form>
	</div>
</body>
</html>
