<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="ISO-8859-1">
		<title>Insert title here</title>
	</head>
	<body>
		<!--/* 1° FRAGMENT:
		This is a parameterized fragment, "auctions" is the HashMap passed as parameter by "vendo.html"
		"open" is used to distinguish between the user's open and closed auctions */-->
		<section class="scrollable" th:fragment="showAuctions(auctions, open)">
			        	
      		<!--/* The following lines iterate over the LinkedHashMap and dynamically create the elements
      		(1) th:if="${not auctions.isEmpty()}" is used to ensure the HashMap is not empty
      		(2) th:each="entry, stats : ${auctions}" is used to iterate over the HashMap
      		(3) th:with="article=${entry.value}, auction=${entry.key}" creates 2 variables that contain each Article and each Auction object
      		(4) th:class="${stats.odd}? 'odd' : even" checks if the current iteration is even or odd and assigns the correct value as class */-->

      		<!--/* th:href="@{GetAuctionDetails(auctionId= ${auction.id}, page='dettagli.html')} creates a relative url with 2 parameters
      		(1) auctionId is used to specify which is the auction in order to get it's details
      		(2) page is used to distinguish between dettagli.html and offerta.html, because the controller manages both template pages */-->
      		
      		<!--/* "auctions" is the hashmap passed as parameter by vendo.html */-->
			<a th:if="${not auctions.isEmpty() and auctions != null}"  th:each="entry : ${auctions}" th:href="@{GoToAuctionDetails(auctionId= ${entry.key.auction_id}, page='auctionDetails.html')}" >
				<!-- Assegna l'asta corrente alla variabile 'auction' -->
				<th:block th:with="auction=${entry.key}">
					<table class="dtl-offers">
						<thead>
						<tr>
							<th>Article Name</th>
							<th>Code</th>
							<th>Price</th>
						</tr>
						</thead>
						<tbody>
						<!-- Itera sulla lista di articoli associati all'asta corrente -->
						<tr th:each="article : ${entry.value}">
							<td class="table-cell" th:text="${article.name}">Nome 1</td>
							<td class="table-cell" th:text="${article.article_id}">Cod. 1</td>
							<td class="table-cell" th:text="${#numbers.formatInteger(article.price, 1, 'POINT')}">1000 $</td>
						</tr>
						</tbody>
					</table>

					<!-- Mostra l'offerta massima -->
					<p th:if="${maxOffers != null and maxOffers.containsKey(auction.auction_id)}">
						<span th:text="${'Max Offered: ' + maxOffers.get(auction.auction_id).getPrice()}"></span> &euro;
					</p>
					<p th:unless="${maxOffers != null and maxOffers.containsKey(auction.auction_id)}">Max Offered : none </p>

					<!-- Mostra il tempo rimanente -->
					<p th:if="${open == 1}" th:with="currTimeLeft=${remainingTimes.get(auction.auction_id)}"
					   th:text="${'Tempo rimanente: ' + currTimeLeft.days + ' days, ' + currTimeLeft.hours + ' hours e ' + currTimeLeft.minutes + ' minutes'}">
						Tempo rimanente: x days, y hours e z minutes
					</p>
				</th:block>
			</a>
		</section>
		
		
		
		
		<!--/* 2° FRAGMENT:
		This is a fragment, it is requested by "offerta.html" and "dettagli.html"
		in order to show the auction's and article's details */-->
		<div th:fragment="showDetails">
			<h2 id="dtl-articles">List of Articles contained by auction</h2>
			<th:block th:if="${not article.isEmpty()}">
				<table>
					<thead>
					<tr>
						<th>Name</th>
						<th>Code</th>
						<th>Image</th>
						<th>Description</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="item : ${article}">
						<td class="table-cell" th:text="${item.name}">Nome 1</td>
						<td class="table-cell" th:text="${item.article_id}">Cod. 1</td>
						<td>
							<a href="#" th:href="${'data:image/jpeg;base64,' + item.image}">
								<img src="http://classifieds.usatoday.com/wp-content/uploads/2018/06/Auction-Bidding.jpeg" th:src="${'data:image/jpeg;base64,' + item.image}" alt="Article picture"/>
							</a>
						</td>
						<td class="table-cell" th:text="${item.description}">Descrizione 1</td>
					</tr>
					</tbody>
				</table>
			</th:block>
			<p th:unless="${not article.isEmpty()}">Nessun articolo disponibile</p>
			<p><strong>Prezzo iniziale: </strong><span th:text="${#numbers.formatInteger(auction.initial_price,1,'POINT')}">x</span> &euro;</p>
			<p><strong>Rialzo minimo: </strong><span th:text="${#numbers.formatInteger(auction.minimum_raise,1,'POINT')}">y</span> &euro;</p>
			<p><strong>Scadenza: </strong><span th:text="${frmtDeadline}">gg MMM yyyy HH:mm</span></p>


		</div>
		
		
		
		<!--/* 3° FRAGMENT:
		This is a parameterized fragment, requested by "offerta.html" and "dettagli.html"
		in order to display all the offers for the relative auction inside a table.
		The parameter "details" is necessary to be able to distinguish between the 2 pages. */-->
		<section class="mid-col scrollable" th:fragment="showOffers(details)">
			<h2 id="dtl-offers">OFFERS</h2>
			<!--/* The paragraph exists only if there are no offers */-->
			<p th:if="${offers == null or offers.isEmpty()}">Non esiste alcuna offerta al momento!</p>
			<!--/* The entire table is removed if there are no offers */-->
			<table th:remove="${offers == null or offers.isEmpty()} ? all">
				<thead>
					<tr>
						<th class="tbl-val tbl-name">Nome</th>
						<th class="tbl-val tbl-offer">Offerta (&euro;)</th>
						<th class="tbl-val tbl-date">Data</th>
					</tr>
				</thead>
				<tbody>
					<!--/* There is no need to check if offers is empty here
					if it is, the table is entirely deleted (container div's condition)*/-->
					<tr th:class="${stats.odd}? 'odd' : even" th:each="entry, stats : ${offers}" th:with="offer=${entry.key}, frmtTime=${entry.value}">
						<td class="table-cell" th:text="${users.get(offer.user)}">Utente 1</td>
						<!--/* "#numbers.formatInteger(num, 1, 'POINT')" : formats the number
      					in order to display it properly. Accepts as parameters the value, the minimum
      					number of integer digits and the thousands separator */-->
						<td class="table-cell" th:text="${#numbers.formatInteger(offer.price,1,'POINT')}">Valore 1</td>
						<!--/* The following line replaces the T character with a space and
						shows the date and time of each offer */-->
						<td class="table-cell" th:text="${frmtTime}">dd MMM yyyy HH:mm</td>
					</tr>
				</tbody>
			</table>
			<!--/* It is possible to close the auction only if it is expired */-->
			<!--/* "details" is the parameter passed by offerta.html or dettagli.html
			it is used to distinguish between the 2 pages */-->
			<a class="button-link" href="#" th:if="${details == 1 and !isExpired }" th:href="@{CloseAuction(auctionId= ${auction.auction_id})}">
				<button>Chiudi asta</button>
			</a>

		</section>
		
	</body>
</html>