<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Online Auctions</title>
    <!-- <link rel="icon" th:href="@{${pageContext.request.contextPath}/img/icon.png}">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
</head>
<body>
    <div class="col lft-col"></div>
    <div class="col mid-col introduction">
        <section class="overview">
            <div th:if="${session.user == null}">
                <a th:href="@{/CheckLogin}">Login</a>
            </div>
            <div th:if="${session.user != null}">
                <h2>Online Auctions!</h2>
                <p>Welcome back <span th:text="${session.user.getUsername()}"></span></p>
                <p><strong>
                    Welcome to our online auction page, where treasures await and bidding is an adventure. Explore our curated selection of unique items from around the world, spanning art, antiques, jewelry, and more. Join the excitement, place your bids, and discover extraordinary pieces that will capture your heart. Happy bidding!</strong></p>
                <h2>Privacy Policy</h2>
                <p>Your privacy is of utmost importance to us. We are committed to protecting and safeguarding your personal information while ensuring a secure and transparent auction experience. Rest assured that any data you provide will be handled in accordance with our strict privacy policy, ensuring confidentiality and respect for your privacy at all times</p>
            </div>
        </section>
    </div>
    <div class="col rgt-col">
        <div class="quick-nav menu">
            <h3>Menu</h3>
            <ul>
                <li><a th:href="@{/GoToHome}">Home</a></li>
                <li><a th:href="@{/GoToPurchase}">Purchase</a></li>
                <li><a th:href="@{/GoToSell}">Sell</a></li>
                <li><a th:href="@{/Logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</body>
</html>