<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Online Auctions</title>
    <!-- <link rel="icon" th:href="@{${pageContext.request.contextPath}/img/icon.png}">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
</head>
<body>
    <div class="col lft-col"></div>
    <div class="col mid-col introduction">
        <section class="overview">
            <div th:if="${session.currUser == null}">
                <a th:href="@{/CheckLogin}">Login</a>
            </div>
            <div th:if="${session.currUser != null}">
                <h2>Online Auctions!</h2>
                <p>Welcome back <span th:text="${session.currUser.username}"></span></p>
                <p><strong>Online Auctions</strong></p>
                <h2>Privacy Policy</h2>
                <p>HolaHolaHola</p>
            </div>
        </section>
    </div>
    <div class="col rgt-col">
        <div class="quick-nav menu">
            <h3>Menu</h3>
            <ul>
                <li><a th:href="@{/GoToHome}">Home</a></li>
                <li><a th:href="@{/Purchase}">Purchase</a></li>
                <li><a th:href="@{/GoToSell}">Sell</a></li>
                <li><a th:href="@{/Logout}">Exit</a></li>
            </ul>
        </div>
    </div>
</body>
</html>