<!DOCTYPE html>
<html lang="it" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Acquisto</title>
    <link rel="icon" th:href="@{/img/icon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/auctionOffer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/purchase.css}">
</head>
<body>
    <div class="col lft-col">
        <div class="quick-nav">
            <h3>Rapid Navigation</h3>
            <ul>
                <li><a href="#filter-auc">Research Auction</a></li>
                <li><a href="#available-auc">Available Auctions</a></li>
                <li><a href="#awarded-art">Won Auctions</a></li>
            </ul>
        </div>
    </div>
    <div class="col mid-col">
        <div class="row first-row form">
            <h2 id="filter-auc">Search with a keyword</h2>
            <form action="GoToPurchase" method="post">
                <div>
                    <label for="key">Key:</label>
                    <input type="text" name="key" id="key" required>
                </div>
                <button name="keyword-submit" type="submit">Search</button>
            </form>
        </div>
        <div class="row second-row auc-list" th:if="${auctions != null and not auctions.isEmpty()}">
            <h2 id="available-auc" th:text="'Available auction for: \'' + ${key} + '\'"></h2>
            <section class="scrollable">
                <div th:each="entry, rowStat : ${auctions}" th:class="${rowStat.count % 2 == 0} ? 'odd' : 'even'">
                    <a th:href="@{GetAuctionDetails(auctionId=${entry.key.auction_id}, page='offer.html')}">
                        <article>
                            <h3 th:text="${entry.value}"></h3> <-- TODO: Check -->
                            <h4>Code: <span th:text="${entry.value}"></span></h4> <-- TODO: Check -->
                            <p>Remaining time: <span th:text="${remainingTimes.get(entry.key.auction_id)} + ' days ' + ${remainingTimes.get(entry.key.auction_id)} + ' hours and ' + ${remainingTimes.get(entry.key.auction_id)} + ' minutes'"></span> <-- TODO: Check -->
                            </p>
                        </article>
                    </a>
                </div>
            </section>
        </div>
        <div class="row third-row offers-list">
            <h2 id="awarded-art">Won Offers</h2>
            <section class="scrollable scrll-table" th:if="${not #lists.isEmpty(awardedArticles)}">
                <div th:each="offer : ${awardedOffers}">
                    <table>
                        <thead>
                        <tr>
                            <th class="tbl-name">Article name</th>
                            <th class="tbl-code">Code</th>
                            <th class="tbl-price">Price (&euro;)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="awarded, rowStat : ${offer.value}" th:class="${rowStat.count % 2 == 0} ? 'odd' : 'even'">
                            <td th:text="${offer.value.name}"></td>
                            <td th:text="${offer.value.code}"></td>
                            <td><span th:text="${#numbers.formatDecimal(offer.value.price, 0)}"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <div class="col rgt-col">
        <div class="quick-nav menu">
            <h3>Menu</h3>
            <ul>
                <li><a th:href="@{/GoToHome}">Home</a></li>
                <li><a th:href="@{/GoToSell}">Sell</a></li>
                <li><a th:href="@{/GoToPurchase}">Purchase</a></li>
                <li><a th:href="@{/Logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
