<!DOCTYPE html>
<html lang="it" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Acquisto</title>
    <link rel="icon" th:href="@{${pageContext.request.contextPath}/img/icon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/auctionOffer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/purchase.css}">
</head>
<body>
    <div class="col lft-col">
        <div class="quick-nav">
            <h3>Rapid Navigation</h3>
            <ul>
                <li><a href="#filter-auc">Research Auction</a></li>
                <li><a href="#available-auc">Available Auctions</a></li>
                <li><a href="#awarded-art">Won Auctions</a></li>
            </ul>
        </div>
    </div>
    <div class="col mid-col">
        <div class="row first-row form" th:if="${sessionScope.currUser == null}">
            <h2 id="filter-auc">Search with a keyword</h2>
            <form action="GoToSell" method="post">
                <div>
                    <label for="key">Key:</label>
                    <input type="text" name="key" id="key" required>
                </div>
                <button name="keyword-submit" type="submit">Search</button>
            </form>
        </div>
        <div class="row second-row auc-list" th:if="${auctions != null and not #lists.isEmpty(auctions)}">
            <h2 id="available-auc" th:text="'Available auction for: \'' + ${key} + '\'"></h2>
            <section class="scrollable">
                <div th:each="entry, rowStat : ${auctions}" th:class="${rowStat.count % 2 == 0} ? 'odd' : 'even'">
                    <a th:href="@{GetAuctionDetails(auctionId=${entry.key.id}, page='offer.html')}">
                        <article>
                            <h3 th:text="${entry.value.name}"></h3>
                            <h4>Code: <span th:text="${entry.value.code}"></span></h4>
                            <p>Remaining time: <span th:text="${remainingTimes.get(entry.key.id).days} + ' days ' + ${remainingTimes.get(entry.key.id).hours} + ' hours and ' + ${remainingTimes.get(entry.key.id).minutes} + ' minutes'"></span>
                            </p>
                        </article>
                    </a>
                </div>
            </section>
        </div>
        <div class="row third-row offers-list">
            <h2 id="awarded-art">Won Auctions</h2>
            <section class="scrollable scrll-table" th:if="${not #lists.isEmpty(awardedArticles)}">
                <table>
                    <thead>
                    <tr>
                        <th class="tbl-name">Article name</th>
                        <th class="tbl-code">Code</th>
                        <th class="tbl-price">Price (&euro;)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="awarded, rowStat : ${awardedArticles}" th:class="${rowStat.count % 2 == 0} ? 'odd' : 'even'">
                        <td th:text="${awarded.key.name}"></td>
                        <td th:text="${awarded.key.code}"></td>
                        <td><span th:text="${#numbers.formatDecimal(awarded.value.value, 0)}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
    <div class="col rgt-col">
        <div class="quick-nav menu">
            <h3>Menu</h3>
            <ul>
                <li><a th:href="@{${pageContext.request.contextPath}/GoToHome}">Home</a></li>
                <li><a th:href="@{${pageContext.request.contextPath}/GoToSell}">Sell</a></li>
                <li><a th:href="@{${pageContext.request.contextPath}/GoToPurchase}">Purchase</a></li>
                <li><a th:href="@{${pageContext.request.contextPath}/Logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
