<!DOCTYPE html>
<html lang="it" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Vendita</title>
    <link rel="icon" th:href="@{/img/icon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sell.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/auctionOffer.css}">
</head>
<body>
    <p th:remove="all">Questa è una pagina dinamica, viene generata a runtime, non è previsto un accesso diretto!</p>
    <div class="col lft-col">
        <div class="quick-nav">
            <h3>Navigazione Rapida</h3>
            <ul>
                <li><a href="#open-auc">Aste Aperte</a></li>
                <li><a href="#closed-auc">Aste Chiuse</a></li>
                <li><a href="#create-auc">Crea Asta</a></li>
            </ul>
        </div>
    </div>
    <div class="col mid-col">
        <div class="row first-row auc-list">
            <h2 id="open-auc">Aste Aperte</h2>
            <p th:if="${userOpenAuctions.isEmpty()}">Non hai nessuna asta aperta al momento!</p>
            <section th:replace="~{WEB-INF/fragments.html :: showAuctions (${userOpenAuctions}, 1)}"></section>
        </div>
        <div class="row second-row auc-list">
            <h2 id="closed-auc">Aste Chiuse</h2>
            <p th:if="${userClosedAuctions.isEmpty()}">Non hai ancora chiuso nessuna asta!</p>
            <section th:replace="~{WEB-INF/fragments.html :: showAuctions (${userClosedAuctions}, 0)}"></section>
        </div>
        <div class="row third-row form">
            <h2 id="create-art">Creazione di un nuovo Articolo</h2>
            <form action="#" th:action="@{/CreateArticle}" method="post" enctype="multipart/form-data">
                <div>
                    <label for="name">Nome Articolo:</label>
                    <input type="text" name="name" id="name" min="4" max="50" required>
                </div>
                <div>
                    <label for="description">Descrizione:</label>
                    <textarea name="description" id="description" rows="4" cols="50" minlength="20" maxlength="3000" placeholder=" ..." spellcheck="false" required></textarea>
                </div>
                <div>
                    <label for="price">Prezzo:</label>
                    <input type="number" name="price" id="price" min="1" step="1" max="700000000" required>
                    <span> &euro;</span>
                </div>
                <div>
                    <label for="image">Allega un'immagine:</label>
                    <input type="file" accept="image/png, image/gif, image/jpeg" name="image" id="image"  required>
                </div>
                <button name="article-submit" type="submit">Crea Articolo</button>
            </form>
        </div>
        <div class="row fourth-row form">
            <h2 id="create-auc">Creazione di una nuova asta</h2>
            <form th:method="POST" th:action="@{/GoToSell}">
                <div style="display: flex;">
                    <div style="flex: 1;">
                        <div th:if="${not articles.isEmpty()}">
                            <label for="articleSelected">Article</label>
                            <select name="articleSelected" id="articleSelected" multiple>
                                <option th:each="article : ${articles}" th:value="${article.article_id}" th:text="${article.name}"></option>
                            </select><br />

                            <button name="auction-submit" type="submit">Aggiungi all'Asta</button>
                        </div>
                        <div th:unless="${not articles.isEmpty()}">
                            <!-- Versione statica della pagina -->
                            <p>Nessun articolo disponibile.</p>
                        </div>
                    </div>

                    <div style="flex: 1;">
                        <h2>Articoli Aggiunti all'Asta</h2>
                        <!-- Aggiungi qui il codice per visualizzare gli articoli aggiunti all'asta -->
                        <table>
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Codice</th>
                                    <th>Prezzo</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="article : ${articlesSelected}">
                                    <td th:text="${article.name}"></td>
                                    <td th:text="${article.code}"></td>
                                    <td th:text="${article.price}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </form>
            <form action="#" th:action="@{/CreateAuction}" method="post" enctype="multipart/form-data">
                <div>
                    <label for="minimum_raise">Rialzo Minimo:</label>
                    <input type="number" name="minimum_raise" id="minimum_raise" min="20" step="1" max="100000" required>
                    <span> &euro;</span>
                </div>
                <div>
                    <label for="expiring_date">Scadenza (futura): </label>
                    <input type="datetime-local" name="expiring_date" id="expiring_date" th:min="${ldt}" placeholder="yyyy-MM-ddTHH:mm" th:value="${ldt}" required>
                </div>
                <input th:each="selectedArticle : ${selectedArticles}" type="hidden" name="selectedArticle" th:value="${selectedArticle}">
                <button name="auction-submit" type="submit">Crea Asta</button>

            </form>
        </div>
    </div>
    <div class="col rgt-col">
        <div class="quick-nav menu">
            <h3>Menu</h3>
            <ul>
                <li><a th:href= "@{/GoToHome}">Home</a></li>
                <li><a th:href="@{/GoToPurchase}">Purchase</a></li>
                <li><a th:href="@{/GoToSell}">Sell</a></li>
                <li><a th:href= "@{/Logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</body>
</html>





