<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Sell</title>
    <link rel="icon" th:href="@{/img/icon.png}">
    <!-- 3 css, first for generic page style, the second for backgroung image only, the third to table related details-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sell.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/auctionOffer.css}">
</head>
<body>
    <p th:remove="all">This is a dynamic page, it is generated during runtime, no direct access is expected!</p>
    <div class="col lft-col">
        <div class="quick-nav">
            <h3>Rapid Navigation</h3>
            <ul>
                <!-- gli href rendono rapida la navigazione all'interno della pagina portando il client direttamente alle zone interessate -->
                <li><a href="#open-auc">Open Auctions</a></li>
                <li><a href="#closed-auc">Closed Auctions</a></li>
                <li><a href="#create-auc">Create Auction</a></li>
            </ul>
        </div>
    </div>
    <div class="col mid-col">

        <div class="row first-row auc-list">
            <h2 id="open-auc">Open Auctions</h2>
            <p th:if="${userOpenAuctions.isEmpty()}">No open auction open found, create some new Auctions! </p>

            <!--I call the method showAuction() inside the fragments.html page that will show me all the open auctions because I pass it userOpenAuctions,
            while the 1 is the parameter that will be used by the method to understand if we are in the open or closed auctions-->
            <section th:replace="~{WEB-INF/fragments.html :: showAuctions (${userOpenAuctions}, 1)}"></section>
        </div>

        <div class="row second-row auc-list">
            <h2 id="closed-auc">Closed Auctions</h2>
            <p th:if="${userClosedAuctions.isEmpty()}">There aren't any closed auctions!</p>

            <!-- I call the method showAuction() inside the fragments.html page that will show me all the closed auctions because I pass it userClosedAuctions,
            while the 0 is the parameter that will be used by the method to understand if we are in the open or closed auctions-->
            <section th:replace="~{WEB-INF/fragments.html :: showAuctions (${userClosedAuctions}, 0)}"></section>
        </div>

        <div class="row third-row form">
            <h2 id="create-art">CREATE A NEW ARTICLE</h2>
            <!-- Form that allows the insertion of new articles, it calls the servlet /CreateArticle that will render this page again with the added article -->
            <form th:method="post" th:action="@{/CreateArticle}" enctype="multipart/form-data">

                <!-- The servlet will receive the parameters sent by the form in its doPost (), which will access them through the "name" identifiers -->
                <div>
                    <label for="name">Article's Name:</label>
                    <input type="text" name="name" id="name" min="4" max="255" required>
                </div>
                <div>
                    <label for="description">Description:</label>
                    <textarea name="description" id="description" rows="4" cols="50" minlength="10" maxlength="255" placeholder=" ..." spellcheck="false" required></textarea>
                </div>
                <div>
                    <label for="price">Price:</label>
                    <input type="number" name="price" id="price" min="1" step="1" max="1000000000" required>
                    <span> &euro;</span>
                </div>
                <div>
                    <label for="image">Select an image:</label>
                    <input type="file" accept="image/*" name="image" id="image"  required>
                </div>
                <button name="article-submit" type="submit">Create Article</button>
            </form>
        </div>

        <div class="row fourth-row form">
            <h2 id="create-auc">CREATE A NEW AUCTION</h2>

            <!-- Form that triggers the doGet () in the servlet / GoToSell, it will be used to re-render the page with the additions of the selected articles -->
            <form th:method="GET" th:action="@{/GoToSell}">

                <!-- Necessary to keep hidden parameters that keep track of all the selected articles, so as not to make them available again in the selection -->
                <input type="hidden"  th:each="article : ${articlesSelected}" th:value="${article.article_id}" name="alreadySelected">
                <div style="display: flex;"> <!-- Flexbox per allign the two divs to insert articles -->
                    <div style="flex: 1;">
                        <div th:if="${not articles.isEmpty()}">
                            <label for="articleSelected">Article</label>
                            <select name="articleSelected" id="articleSelected" >
                                <!-- Shows all the articles created by the client not yet assigned to any auction -->
                                <option th:each="article : ${articles}" th:value="${article.article_id}" th:text="${article.name}"></option>
                            </select><br/>
                            <button type="submit">Add to auction</button>
                        </div>
                        <div th:unless="${not articles.isEmpty()}">
                            <!-- Static version of the page -->
                            <p>First of all, create some new ARTICLES !</p>
                        </div>
                    </div>

                    <!-- Box that shows the client which articles he is adding to the auction during creation -->
                    <div style="flex: 1;" th:if="${!articlesSelected.isEmpty()} ">
                        <h2>List of Articles selected :</h2>
                        <table>
                            <thead>
                                <tr>
                                    <th>NAME</th>
                                    <th>CODE</th>
                                    <th>PRICE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="article : ${articlesSelected}">
                                    <td th:text="${article.name}"></td>
                                    <td th:text="${article.article_id}"></td>
                                    <td th:text="${article.price}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="flex: 1;" th:unless="${!articlesSelected.isEmpty()}">
                        <p>NO ARTICLES SELECTED !</p>
                    </div>
                </div>
            </form>

            <!-- Form that triggers the doPost () of the CreateAuction servlet, takes as input all the attributes of an auction and creates it -->
            <form action="#" th:action="@{/CreateAuction}" method="post" enctype="multipart/form-data">
                <div>
                    <label for="minimum_raise"> Minimum Raise:</label>
                    <input type="number" name="minimum_raise" id="minimum_raise" min="1" step="1" max="1000000" required>
                    <span> &euro;</span>
                </div>
                <div>
                    <label for="expiring_date">Expiring Date : </label>
                    <input type="datetime-local" name="expiring_date" id="expiring_date" th:min="${ldt}" placeholder="yyyy-MM-ddTHH:mm" th:value="${ldt}" required>
                </div>

                <!-- Necessary to keep hidden parameters that keep track of all the selected articles, so as not to make them available again in the selection -->
                <input type="hidden"  th:each="article : ${articlesSelected}" th:value="${article.article_id}" name="articlesSelected" >
                <button type="submit">Create Auction</button>
            </form>
        </div>
    </div>
    <div class="col rgt-col">
        <div class="quick-nav menu">
            <h3>Menu</h3>
            <ul>
                <li><a th:href= "@{/GoToHome}">Home</a></li>
                <li><a th:href="@{/GoToPurchase}">Purchase</a></li>
                <li><a th:href="@{/GoToSell}">Sell</a></li>
                <li><a th:href= "@{/Logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</body>
</html>





