<!DOCTYPE html>
<html lang="it" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Vendita</title>
    <link rel="icon" th:href="@{/img/icon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sell.css}">
</head>
<body>
    <p th:remove="all">Questa è una pagina dinamica, viene generata a runtime, non è previsto un accesso diretto!</p>
    <div class="col lft-col">
        <div class="quick-nav">
            <h3>Navigazione Rapida</h3>
            <ul>
                <li><a href="#open-auc">Aste Aperte</a></li>
                <li><a href="#closed-auc">Aste Chiuse</a></li>
                <li><a href="#create-auc">Crea Asta</a></li>
            </ul>
        </div>
    </div>
    <div class="col mid-col">
        <div class="row first-row auc-list">
            <h2 id="open-auc">Aste Aperte</h2>
            <p th:if="${userOpenAuctions.isEmpty()}">Non hai nessuna asta aperta al momento!</p>
            <section th:replace="~{WEB-INF/fragments.html :: showAuctions (${userOpenAuctions}, 1)}"></section>
        </div>
        <div class="row second-row auc-list">
            <h2 id="closed-auc">Aste Chiuse</h2>
            <p th:if="${userClosedAuctions.isEmpty()}">Non hai ancora chiuso nessuna asta!</p>
            <section th:replace="~{WEB-INF/fragments.html :: showAuctions (${userClosedAuctions}, 0)}"></section>
        </div>
        <div class="row third-row form">
            <h2 id="create-auc">Creazione di una nuova asta</h2>
            <form action="#" th:action="@{/CreateAuction}" method="post" enctype="multipart/form-data">
                <div>
                    <label for="name">Nome Articolo:</label>
                    <input type="text" name="name" id="name" min="4" max="50" required>
                </div>
                <div>
                    <label for="description">Descrizione:</label>
                    <textarea name="description" id="description" rows="4" cols="50" minlength="20" maxlength="3000" placeholder=" ..." spellcheck="false" required></textarea>
                </div>
                <div>
                    <label for="initial_price">Prezzo Iniziale:</label>
                    <input type="number" name="initial_price" id="initial_price" min="1" step="1" max="700000000" required>
                    <span> &euro;</span>
                </div>
                <div>
                    <label for="minimum_rise">Rialzo Minimo:</label>
                    <input type="number" name="minimum_rise" id="minimum_rise" min="50" step="1" max="100000" required>
                    <span> &euro;</span>
                </div>
                <div>
                    <label for="expiring_date">Scadenza (futura): </label>
                    <input type="datetime-local" name="expiring_date" id="expiring_date" th:min="${ldt}" placeholder="yyyy-MM-ddTHH:mm" th:value="${ldt}" required>
                </div>
                <button name="auction-submit" type="submit">Crea Asta</button>
            </form>
        </div>
    </div>
    <div class="col rgt-col">
        <div class="quick-nav menu">
            <h3>Menu</h3>
            <ul>
                <li><a th:href= "@{/GoToHome}">Home</a></li>
                <li><a th:href="@{/Purchase}">Acquista</a></li>
                <li><a th:href="@{/GoToSell}">Vendi</a></li>
                <li><a th:href= "index.html">Esci</a></li>
            </ul>
        </div>
    </div>
</body>
</html>





